{% extends 'base.html.twig' %}

{% block title %}Chapitre edition{% endblock %}

{% block body %}

    <h1>Edit Chapitre</h1>
    {{ form_start(formModifChapitre) }}
    {{ form_widget(formModifChapitre) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(formModifChapitre) }}

{% endblock %}