Affichage d'une histoire




{% if parent.id is not defined %}
    <a href="{{ path("chapitre_new",{'id':histoire.id}) }}">
        Ajouter le chapitre principal </a>
{% else %}
    <a href="{{ path("chapitre_new",{'id':histoire.id,'chapitre':parent.id}) }}"> Ajouter une suite </a>
{% endif %}

