{% extends 'base.html.twig' %}

{% block title %} Dashboard de {{ app.user.nom }}{% endblock %}

{% block body %}


<body>

    <style>
        body{
            background-color: #1D1D1D;
        }
    </style>

    <div class="dashboard">
        <div class="left-side">
            <div class="left-side_fixed">
            <div class="dashboard-name">
                <img src="/images/avatar.png" alt="avatar Antoine Parent" class="avatar">
                <h3>Antoine Parent</h3>
            </div>
            <div class="link">
                <ul>
                    <li>
                        <a href="">Mes histoires</a>
                    </li>
                    <li>
                        <a href="">Créer une histoire</a>
                    </li>
                    <li>
                        <a href="">Mes infos</a>
                    </li>
                </ul>
            </div>
            <div class="deconnexion">
                <div>
                    <img src="/images/logout.svg" alt="deconnexion">
                    <a href="">Deconnexion</a>
                </div>
            </div>
        </div>
        </div>
        <div class="dashboard-content">
            <h3>Mes histoires</h3>

            <div class="dashboard-content_histoires">
            <div class="histoires__cards">

                <div class="histoires__card">
                        <img class="histoires__card-img" src="/images/histoires.png">
                        <div class="histoires__card-menu">

                            <div class="toggle">
                                <a href="#menu" id="toggle"><span></span></a>

                                <div id="menu">
                                  <ul>
                                    <li class="menu-opt">
                                        <img src="/images/edit.svg" alt="">
                                        <a href="">Modifier</a>
                                    </li>
                                    <li class="menu-opt">
                                        <img src="/images/close.svg" alt="">
                                        <a href="">Supprimer</a>
                                    </li>
                                  </ul>
                                </div>

                            </div>
                        </div>
                        <div class="histoires__card-content">
                            <p class="histoires__card-p">Histoire</p>
                            <a src="" class="histoires__card-title">L'histoire d'un ancien mineur de lens</a>
                            <div class="histoires__card-infos">
                                    <span class="histoires__card-author">John Doe</span>
                                 <span class="histoires__card-genre">genre</span>
                            </div>
                        </div>
                </div>
                <div class="histoires__card">
                        <img class="histoires__card-img" src="/histoire/histoires.png">
                        <div class="histoires__card-menu">

                                <div class="toggle">
                                    <a href="#menu" id="toggle"><span></span></a>

                                    <div id="menu">
                                      <ul>
                                        <li class="menu-opt">
                                            <img src="/images/edit.svg" alt="">
                                            <a href="">Modifier</a>
                                        </li>
                                        <li class="menu-opt">
                                            <img src="/images/close.svg" alt="">
                                            <a href="">Supprimer</a>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                            </div>
                        <div class="histoires__card-content">
                            <p class="histoires__card-p">Histoire</p>
                            <a src="" class="histoires__card-title">L'histoire d'un ancien mineur de lens</a>
                            <div class="histoires__card-infos">
                                    <span class="histoires__card-author">John Doe</span>
                                 <span class="histoires__card-genre">genre</span>
                            </div>
                        </div>
                </div>
                <div class="histoires__card">
                        <img class="histoires__card-img" src="/images/histoires.png">
                        <div class="histoires__card-menu">

                                <div class="toggle">
                                    <a href="#menu" id="toggle"><span></span></a>

                                    <div id="menu">
                                      <ul>
                                        <li class="menu-opt">
                                            <img src="/images/edit.svg" alt="">
                                            <a href="">Modifier</a>
                                        </li>
                                        <li class="menu-opt">
                                            <img src="/images/close.svg" alt="">
                                            <a href="">Supprimer</a>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                            </div>
                        <div class="histoires__card-content">
                            <p class="histoires__card-p">Histoire</p>
                            <a src="" class="histoires__card-title">L'histoire d'un ancien mineur de lens</a>
                            <div class="histoires__card-infos">
                                    <span class="histoires__card-author">John Doe</span>
                                 <span class="histoires__card-genre">genre</span>
                            </div>
                        </div>
                </div>
                <div class="histoires__card">
                        <img class="histoires__card-img" src="/images/histoires.png">
                        <div class="histoires__card-menu">

                                <div class="toggle">
                                    <a href="#menu" id="toggle"><span></span></a>

                                    <div id="menu">
                                      <ul>
                                        <li class="menu-opt">
                                            <img src="/images/edit.svg" alt="">
                                            <a href="">Modifier</a>
                                        </li>
                                        <li class="menu-opt">
                                            <img src="/images/close.svg" alt="">
                                            <a href="">Supprimer</a>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                            </div>
                        <div class="histoires__card-content">
                            <p class="histoires__card-p">Histoire</p>
                            <a src="" class="histoires__card-title">L'histoire d'un ancien mineur de lens</a>
                            <div class="histoires__card-infos">
                                    <span class="histoires__card-author">John Doe</span>
                                 <span class="histoires__card-genre">genre</span>
                            </div>
                        </div>
                </div>
                <div class="histoires__card">
                        <img class="histoires__card-img" src="/images/histoires.png">
                        <div class="histoires__card-menu">

                                <div class="toggle">
                                    <a href="#menu" id="toggle"><span></span></a>

                                    <div id="menu">
                                      <ul>
                                        <li class="menu-opt">
                                            <img src="/images/edit.svg" alt="">
                                            <a href="">Modifier</a>
                                        </li>
                                        <li class="menu-opt">
                                            <img src="/images/close.svg" alt="">
                                            <a href="">Supprimer</a>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                            </div>
                        <div class="histoires__card-content">
                            <p class="histoires__card-p">Histoire</p>
                            <a src="" class="histoires__card-title">L'histoire d'un ancien mineur de lens</a>
                            <div class="histoires__card-infos">
                                    <span class="histoires__card-author">John Doe</span>
                                 <span class="histoires__card-genre">genre</span>
                            </div>
                        </div>
                </div>
            </div>

            </div>
            </div>
    </div>

</body>

{% endblock %}
