{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        La page que vous recherchez n'a pas été trouvé.
        <a href="{{ path('visualisation') }}">Retour à l'accueil</a>.
    </p>
{% endblock %}